mp:
  jwt:
    verify:
      # publickey:
      #   location: ${security.jwt.public.key}
    audiences: phylax-api
  rcab:
    # model: phylax
    # phylax:
    #  api-key: 1111
    #  audience: phylax-api
    #  register:
    #    scope: ${security.rcab.host}/resource/scope
    #    schema: ${security.rcab.host}/resource/schema
    #  check:
    #    grant: ${security.rcab.host}/grant

app:
  security:
    encryption:
      key: ${security.encriptation.key:eventual}

quarkus:
  http:
    cors:
      enabled: true
      origins: /.*/
      methods: "*"
      headers: "*"
      exposed-headers: "*"
      access-control-max-age: 24H
      access-control-allow-credentials: true
      