quarkus:
  log:
    console:
      enabled: true
      level: INFO
      json:
        enabled: false
      format: "%d{HH:mm:ss} %-5p [%c] %s%n"
    file:
      enabled: true
      path: logs/log.jsonl
      level: INFO
      json:
        enabled: true
      rotation:
        max-file-size: 10M
        max-backup-index: 5
    handler:
      file:
        "TRACES":
          enabled: true
          path: logs/traces.jsonl
          level: INFO
          rotation:
            max-file-size: 10M
            max-backup-index: 5
    category:
      "traces":
        level: INFO
        handlers: TRACES
        use-parent-handlers: false
  otel:
    enabled: true
    traces:
      enabled: true
    logs:
      enabled: true

#    exporter:
#      otlp:
#        traces:
#          protocol: grpc
#          endpoint: http://localhost:4317
#        logs:
#          protocol: grpc
#          endpoint: http://localhost:4317
